$img1: "./img/image1.jpg";
$img2: "./img/image2.jpg";
$img3: "./img/image3.jpg";

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
      fixed = parallax
      scroll = normal
    */
  background-attachment: fixed;
}

.pimg1 {
  background: url($img1);
  min-height: 100%;
}

.pimg2 {
  background: url($img2);
  min-height: 70rem;
}

.pimg3 {
  background: url($img3);
  min-height: 70rem;
}
